<ul>
  <li *ngFor="let chn of names">
    <button
      class="btn btn-danger rounded-circle"
      width="50px"
      data-toggle="modal"
      data-target="#myModal"
      (click)="setUrl(chn)"
    >
      {{ chn }}
    </button>
  </li>
</ul>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Channel Panel
        </button>
      </h5>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
       
      
        <table>
          <tr>
            <td>Channel Name</td>
            <td><input size="3" type="text" [(ngModel)]="chnName" /></td>
          </tr>
          <tr>
            <td>Channel Url</td>
            <td><input size="13" type="text" [(ngModel)]="chnUrl" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <button
                class="btn btn-danger rounded-circle"
                width="50px"
                (click)="addChannel()"
              >
                Add
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<iframe
  width="1200"
  height="400"
  [src]="selectedChannel | safe"
  frameborder="0"
  allow="accelerometer; 
autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>

<!-- <div class="container">
  
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      
      
      <div class="modal-content">
        
        <div class="modal-body" style=" overflow: scroll;">

          <iframe width="800" height="400" [src]="selectedChannel | safe" frameborder="0" allow="accelerometer; 
          autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div> 

</div>-->
