<table class="cell">
    <tr>
        <td>
            Select Date to filter : <input size="7" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time"
                [(ngModel)]="dateTime">
            <owl-date-time #dt1 pickerType='calendar' (afterPickerClosed)='getData()'></owl-date-time>          
        </td>
        <td>
                Displaying data for : {{dateTime | date}}
        </td>
        <td>
            <img src="../../assets/refresh.png" (click)="getData();" style="cursor: pointer"/>
        </td>
    </tr>
</table>
<table class="table table-light table-responsive-md">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="cursor: pointer" (click)="ToggleColumn('all')">Time</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isBTCVisible" (click)="ToggleColumn('btc')" data-toggle="tooltip" data-placement="top" [title]=min_max.btc>BTC</th>           
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isXRPVisible" (click)="ToggleColumn('xrp')" data-toggle="tooltip" data-placement="top" [title]=min_max.xrp>XRP</th>            
            <th scope="col" style="cursor: pointer" *ngIf="visibilityControl.isZRXVisible"  (click)="ToggleColumn('zrx')" data-toggle="tooltip" data-placement="top" [title]=min_max.zrx>ZRX</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isAEVisible" (click)="ToggleColumn('ae')" data-toggle="tooltip" data-placement="top" [title]=min_max.ae>AE</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isGNTVisible"  (click)="ToggleColumn('gnt')" data-toggle="tooltip" data-placement="top" [title]=min_max.gnt>GNT</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isOMGVisible" (click)="ToggleColumn('omg')" data-toggle="tooltip" data-placement="top" [title]=min_max.omg>OMG</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isETHVisible" (click)="ToggleColumn('eth')" data-toggle="tooltip" data-placement="top" [title]=min_max.eth>ETH</th>            
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isNCASHVisible" (click)="ToggleColumn('ncash')">NCASH</th>            
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isTRXVisible" (click)="ToggleColumn('trx')" data-toggle="tooltip" data-placement="top" [title]=min_max.trx>TRX</th>            
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isBATVisible" (click)="ToggleColumn('bat')" data-toggle="tooltip" data-placement="top" [title]=min_max.bat>BAT</th>            
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isLTCVisible" (click)="ToggleColumn('ltc')">LTC</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isONTVisible" (click)="ToggleColumn('ont')">ONT</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isEOSVisible" (click)="ToggleColumn('eos')">EOS</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isNEOVisible" (click)="ToggleColumn('neo')">NEO</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isREQVisible" (click)="ToggleColumn('req')">REQ</th>
            <th scope="col" style="cursor: pointer"  *ngIf="visibilityControl.isTUSDVisible"(click)="ToggleColumn('tusd')">TUSD</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let price of priceHistory">
            <td>{{price.time}}</td>
            <td *ngIf="visibilityControl.isBTCVisible" style="visibility: visible;">{{price.BTC }}</td>
            <td *ngIf="visibilityControl.isXRPVisible" >{{price.XRP}}</td>
            <td *ngIf="visibilityControl.isZRXVisible" >{{price.ZRX }}</td>
            <td *ngIf="visibilityControl.isAEVisible" >{{price.AE }}</td>
            <td *ngIf="visibilityControl.isGNTVisible" >{{price.GNT }}</td>
            <td *ngIf="visibilityControl.isOMGVisible" >{{price.OMG}}</td> 
            <td *ngIf="visibilityControl.isETHVisible" >{{price.ETH}}</td>                                            
            <td *ngIf="visibilityControl.isNCASHVisible" >{{price.NCASH }}</td>
            <td *ngIf="visibilityControl.isTRXVisible" >{{price.TRX }}</td>
            <td *ngIf="visibilityControl.isBATVisible" >{{price.BAT}}</td>            
            <td *ngIf="visibilityControl.isLTCVisible" >{{price.LTC }}</td>                                   
            <td *ngIf="visibilityControl.isONTVisible" >{{price.ONT}}</td>
            <td *ngIf="visibilityControl.isEOSVisible" >{{price.EOS}}</td>
            <td *ngIf="visibilityControl.isNEOVisible" >{{price.NEO}}</td>
            <td *ngIf="visibilityControl.isREQVisible" >{{price.REQ}}</td>
            <td *ngIf="visibilityControl.isTUSDVisible" >{{price.TUSD}}</td>

        </tr>

    </tbody>
</table>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>