.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(239, 243, 241, 0.2);
  transition: 0.3s;
  background-color: rgba(163, 175, 154, 0.425);
  margin: 10px 0px 10px 10px;
  width: 32%;
  box-shadow: 0 5px 5px 0 rgba(251, 252, 250, 0.815);
}

.card-update {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(239, 243, 241, 0.2);
  transition: 0.3s;
  background-color:rgb(46 66 30 / 43%);
  margin: 10px 0px 10px 10px;
  width: 32%;
  box-shadow: 0 5px 5px 0 rgba(251, 252, 250, 0.815);
}




/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(133, 235, 0, 0.815);
}

/* Add some padding inside the card container */

.container {
  padding: 2px 16px;
}

.card-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-data-update {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #3b4639;
}

.close {
  color: rgb(206, 4, 4);
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.large
{
  font-size: 35px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.elarge
{
  font-size: 55px;
  font-weight: bolder;
  color: rgb(88, 228, 46);
}

.tb {
  width: 10%;
  background-color: rgba(43, 42, 42, 0.74);
  color : #49ec18;
  font-weight: bolder;
	height:20px;
	border:1px solid rgb(23, 49, 23);
	padding:4px 8px;
	margin-bottom:0px;
}

.tbcoin {
  width: 15%;
  background-color: rgba(194, 189, 189, 0.74);
	
	height:20px;
	border:1px solid rgb(23, 49, 23);
	padding:4px 8px;
	margin-bottom:0px;
}

.portHeader {
  background-color: rgb(73, 73, 73);
  color: white;
  font-weight: bolder;
}

.port-card-header {
  border: rgb(12 70 17) 1px solid
}

.port-card-header button {
  color: rgb(253, 253, 253);
}