<table class="cell">
    <tr>
        <td>
            Add Coin : <input size="3" class="tbcoin" type='text' [(ngModel)]='RequestedCoin' (change)='addCoin();' />
        </td>


        <td colspan=3 align="left">
            Refresh Interval:
            <input size="1" class="tb" type='text' [(ngModel)]='refreshInterval' (change)='restart();' (click)='stopCounter()' />
        </td>

        <td>
            Updated on : {{lastUpdated}}
        </td>


    </tr>

</table>

<div class="card-data">
    <div class="card" *ngFor='let d of viewData'>

        <div class="container" style="margin: 0px 0px ">
            <div class="row">
                <div class="col">
                    <h4 style="color: rgb(221, 243, 26);"><b>{{d.coin}}</b></h4>
                </div>
                <a class="close" (click)='toggleClass(d.coin)'>A+</a>
                <div class="col" align="right">
                   
                    <a class="close" (click)='removeCoin(d.coin)'>X</a>
                </div>
            </div>
        </div>

        <p class="large" [ngClass]="{'elarge':d.iselargeFont == true}">{{d.bitbnsPrice}}
            <span style="color: grey">|</span>
            {{d.binancePrice | formateNumber:d.coin:d.isBtcPrice }}</p>
    </div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>