<table class="cell">
    <tr>
        <td>
            Coin Symbol : <input size="3" type='text' [(ngModel)]='RequestedCoin' (change)='addCoin();' />
        </td>


        <td colspan=3 align="left">
            Refresh Interval:
            <input size="1" type='text' [(ngModel)]='refreshInterval' (change)='restart();' (click)='stopCounter()' />
        </td>

        <td>
            Updated on : {{lastUpdated}}
        </td>


    </tr>

</table>

<div class="card-data">
    <div class="card" *ngFor='let d of viewData'>

        <div class="container" style="margin: 0px 0px ">
            <div class="row">
                <div class="col">
                        <h4 style="color: rgb(221, 243, 26);"><b>{{d.coin}}</b></h4>
                </div>
                <div class="col" align="right">
                        <a  class="close" (click)='removeCoin(d.coin)'>X</a>
                </div>
            </div>
        </div>
        <h1 style="color: white;"><b>{{d.bitbnsPrice}} </b>
            <span style="color: grey">|</span>
            <b>{{d.binancePrice | formateNumber:d.isBtcPrice }}</b></h1>
    </div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>