<table class="cell">
    <tr>
        <td>
            Add Coin : <input size="3" class="tbcoin" type='text' [(ngModel)]='RequestedCoin' (change)='addCoin();' />
        </td>


        <td colspan=3 align="left">
            Refresh Interval:
            <input size="1" class="tb" type='text' [(ngModel)]='refreshInterval' (change)='restart();' (click)='stopCounter()' />
        </td>

        <td>
            Updated on : {{lastUpdated}}
        </td>


    </tr>

</table>

<div class="accordion" id="accordionExample">
    <div class="portcard">
      <div class="port-card-header" id="headingOne">
        <div class="row">
          <div class="col-sm">
            <h5 class="mb-0">
              <button
                class="btn btn-outline-dark"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                Manage Portfolio >>>
              </button>
            </h5>
          </div>
          <div class="col-sm 2">
            <span style="color: khaki;">
              Total Portfolio : {{portfolioValue}}</span
            >
          </div>
        
        </div>
      </div>
  
      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <table *ngIf="portfolioData">
            <tr>
              <th class="portHeader">Coin</th>
              <th class="portHeader">Quantity</th>
              <th width="15" class="portHeader">Clear</th>
            </tr>
            <tr *ngFor="let data of portfolioData; let i = index">
              <td><input size="3" type="text" [(ngModel)]="data.RowKey" /></td>
              <td><input size="13" type="text" [(ngModel)]="data.quantity" /></td>
              <td>
                <button (click)="removeFromPortfolio(data.RowKey, i)">
                  X
                </button>
              </td>
            </tr>
  
            <tr>
              <td>
                <button
                  class="btn btn-danger"
                  width="50px"
                  (click)="addToPortfolio()"
                >
                  Add more
                </button>
              </td>
  
              <td>
                <button
                  class="btn btn-danger"
                  width="50px"
                  (click)="updatePortfolio()"
                >
                  Update
                </button>
              </td>
             
            </tr>
            <tr>
              <td colspan="3">
                <label class="volume">{{ message }}</label>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

<div class="card-data">
    <div class="card" *ngFor='let d of viewData'>

        <div class="container" style="margin: 0px 0px ">
            <div class="row">
                <div class="col">
                    <h4 style="color: rgb(221, 243, 26);"><b>{{d.coin}}</b></h4>
                </div>
                <a class="close" (click)='toggleClass(d.coin)'>A+</a>
                <div class="col" align="right">
                   
                    <a class="close" (click)='removeCoin(d.coin)'>X</a>
                </div>
            </div>
        </div>

        <p class="large" [ngClass]="{'elarge':d.iselargeFont == true}">{{d.bitbnsPrice}}
            <span style="color: grey">|</span>
            {{d.binancePrice | formateNumber:d.coin:d.isBtcPrice }}</p>
    </div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>