<table class="cell">
  <tr>
    <td>
      Coin Symbol :
    </td>
    <td>
      <input size="3" type='text' [(ngModel)]='RequestedCoin' (change)='addCoin();' />
    </td>
    <td>Refresh Interval</td>
    <td colspan=3 align="left">
      <button class="btn btn-danger rounded-circle" width="20px" (click)='changeInterval("+")'>+5</button>
      <input size="1" type='text' [(ngModel)]='refreshInterval' (change)='restart();' (click)='stopCounter()' />
      <button class="btn btn-danger rounded-circle" width="20px" (click)='changeInterval("-")'>-5</button>
    </td>
    <td>
      USD to INR: <input size="1" type='text' [(ngModel)]='INRToUSD' />
    </td>
    <td>
      Updated on : {{lastUpdated}}
    </td>    
    <td>
      <span>History price refresh interval: </span>
      <input size="1" type='text' [(ngModel)]='minutes' placeholder="history refresh interval" (change)='resetHistoryCounter();' />
    </td>
    <td>
      <button matTooltip="Clear history price" class="btn btn-danger rounded-circle" width="20px" (click)='clearHistory()'>Clear</button>
    </td>
  </tr>
</table>
<table *ngIf='viewData' class="table table-striped table-dark">
  <thead>
    <tr>
      <th></th>
      <th>Coin</th>
      <th>Price</th>
      <th>% 24 hour</th>
      <th>% week</th>
      <th>Rank</th>
      <th>24 HR Volume</th>
    </tr>
  </thead>
  <tr *ngFor='let coin of viewData'>
    <td>
      <button width="20px" class="btn1" (click)='removeCoin(coin.symbol)'>X</button>
    </td>
    <td>
      <label class="label" data-toggle="modal" data-target="#myModal" (click)='showPriceHistory(coin.symbol);'>{{coin.symbol}}</label>
    </td>
    <td>
      <label id="{{coin.name}}" class="high"
      [matTooltip]="'INR: '+ coin.quotes.USD.price * INRToUSD">{{coin.quotes.USD.price | formateNumber:coin.symbol}}</label>
    </td>
    <td>
      <label class="highper" [ngClass]="{'lowper':coin.quotes.USD.percent_change_24h < 0}">{{coin.quotes.USD.percent_change_24h}}%</label>
    </td>

    <td><label class="highper" [ngClass]="{'lowper':coin.quotes.USD.percent_change_7d < 0}">{{coin.quotes.USD.percent_change_7d}}%</label>
    </td>
    <td>
      <label class="volume">{{coin.rank}}</label>
    </td>
    <td>
      <label class="volume">{{coin.quotes.USD.volume_24h}}</label>
    </td>
  </tr>
</table>






<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" *ngIf='priceHistory.coinMarketCap[0]'>
          <h4 class="modal-title">{{priceHistory.coinMarketCap[0].symbol}} - Price History</h4>
        </div>
        <div class="modal-body" style=" overflow: scroll;height:400px;">

          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Price</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let price of priceHistory.coinMarketCap">
                <td>{{price.price | formateNumber}}</td>
                <td>{{price.time}}</td>
              </tr>

            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>