
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a class="nav-link" routerLink="/home" (click)="closeNav()">Binance</a>
    <a class="nav-link" routerLink="/bitbns" (click)="closeNav()">BitBns</a>
    <a class="nav-link" routerLink="/notification" (click)="closeNav()">Notification</a>
    <a class="nav-link" routerLink="/mytv" (click)="closeNav()">TV</a>
</div>

<div id="main">
  <button class="openbtn" (click)="openNav()">&#9776; Menu</button>
</div>



<!-- <nav class="navbar navbar-expand-sm">


  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Binance</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" routerLink="/binancepricehistory">Binance History</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="koinex" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Koinex
      </a>
      <div class="dropdown-menu" aria-labelledby="koinex">
        <a class="dropdown-item" routerLink="/koinexpricehistory">Koinex Price History</a>
        <a class="dropdown-item" routerLink="/koinexpricehistorySortable">Price History Sortable</a>
       
      </div>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Coin Market Cap
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/coinMarketLive">Live Prices</a>
        <a class="dropdown-item" routerLink="/coinMarketHistory">History Prices</a>
        <a class="dropdown-item" routerLink="/coinMarketHistoryListing">History Price Listing</a>        
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/bitbns">BitBns</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/notification">Notification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mytv">TV</a>
    </li>
  </ul>

</nav> -->


<router-outlet></router-outlet>