<div class="card">
  <h2>{{message}}</h2>
</div>
<br/>
<div class="card">
  <b>Http Service call - List Users</b>
</div>
<br/>
<button (click)='getUsers()'>Get Users</button>
<br/>
<br/>
<img src="../../assets/loading.gif" height="150" width="200" *ngIf='isLoding'/>
<table class="comicGreen" *ngIf='isVisible'>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Avatar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let user of users.data'>
      <td>{{user.id}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>
        <img [src]='user.avatar' />
      </td>
    </tr>
  </tbody>
</table>