.label {
    color: rgba(255, 255, 0, 0.555);
    font-size: 70px;
    font-weight: 200;
    font-weight: bold;
}

.high {
    color: rgb(80, 133, 10);
    font-size: 100px;
    font-weight: bolder;
    line-height: 80px;
}

.low {
    color: rgb(165, 11, 11);
    font-size: 100px;
    font-weight: bolder;
    line-height: 80px;
}

.highper {
    color: rgb(80, 133, 10);
    font-size: 60px;
    font-weight: bold;
    line-height: 50px;
}

.lowper {
    color: rgb(165, 11, 11);
    font-size: 60px;
    font-weight: bold;
    line-height: 50px;
}

table {
    border: 1px solid rgba(233, 175, 50, 0.37);
}


td
 {
    border: 1px solid rgba(233, 175, 50, 0.37);
}

.volume{
color: ghostwhite;
font-size: 30px;
    font-weight: bold;
    
}