<table *ngIf='viewData'>
  <tr *ngFor='let coin of viewData'>
      <td>
         <button width="20px" (click)='removeCoin(coin.symbol)'>X</button>
        </td>
    <td>
      <label class="label">{{coin.symbol}}</label>
    </td>
    <td>
      <label id="{{coin.name}}" class="high">{{coin.quotes.USD.price | formateNumber}}</label>
    </td>
    <td>
      <label class="highper" [ngClass]="{'lowper':coin.quotes.USD.percent_change_24h < 0}">{{coin.quotes.USD.percent_change_24h}}%</label>
    </td>

    <td><label class="highper" [ngClass]="{'lowper':coin.quotes.USD.percent_change_7d < 0}">{{coin.quotes.USD.percent_change_7d}}%</label>
    </td>
     <td>
      <label class="volume">{{coin.rank}}</label>
    </td>
    <td>
      <label class="volume">{{coin.quotes.USD.volume_24h}}</label>
    </td>

  </tr>

</table>


<br />
<div class="volume" style="float: left; ">
  Coin Symbol : <input size="5" type='text' [(ngModel)]='RequestedCoin' (change)='addCoin();' />&nbsp;&nbsp;
  Refresh Interval (in seconds) &nbsp;&nbsp;
  <button width="20px" (click)='changeInterval("+")'>+5</button>
  <input size="3" type='text' [(ngModel)]='refreshInterval' (change)='restart();' />
  <button width="20px" (click)='changeInterval("-")'>-5</button>
 &nbsp; &nbsp;{{lastUpdated}}
</div>
