body{
  background-color: black;text-align: center;
}
h1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:rgb(26, 164, 188);
    color:#fff;
    transition: 0.5s;
    width: initial;
    border-radius: 5px; /* 5px rounded corners */
}
a{
    display:block;
    float:left;
    font-weight: bolder;
    padding:10px 15px;
    background:#CC3300  ;
    border:1px solid beige  ;
    border-radius:4px 4px 0 0;
    margin-right:1px;
    color:#fff;
    text-decoration:none
}
table.comicGreen {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid #4F7849;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.comicGreen td, table.comicGreen th {
    border: 1px solid #4F7849;
    padding: 3px 2px;
  }
  table.comicGreen tbody td {
    font-size: 14px;
    font-weight: bold;
    color: #4F7849;
  }
  table.comicGreen tr:nth-child(even) {
    background: #CEE0CC;
  }
  table.comicGreen thead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    background: #4F7849;
    background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 50%);
    background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 50%);
    background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 50%);
    border-top: 1px solid #444444;
  }
  table.comicGreen thead td {
    font-size: 17px;
  }

  button{
    border:1px solid #2A2C2F; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 50px 10px 50px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
     background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
     background-image: -moz-linear-gradient(top, #a90329, #6d0019);
     background-image: -ms-linear-gradient(top, #a90329, #6d0019);
     background-image: -o-linear-gradient(top, #a90329, #6d0019);
     background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
    }

    button:hover{
        border:1px solid #151617;
        background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
        background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
        background-image: -moz-linear-gradient(top, #77021d, #3a000d);
        background-image: -ms-linear-gradient(top, #77021d, #3a000d);
        background-image: -o-linear-gradient(top, #77021d, #3a000d);
        background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
       }
