.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #BA4A00  ;
    transition: 0.3s;
    width: 350px;
    border-radius: 5px; /* 5px rounded corners */
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);    
}
