<table class="cell">
  <tr>
    <td>
      Coin Symbol :
    </td>
    <td>
      <input
        size="3"
        type="text"
        [(ngModel)]="RequestedCoin"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <button class="btn btn-danger" (click)="addCoin()">+</button>
    </td>

    <td>Refresh Interval (in seconds)</td>
    <td colspan="3" align="left">
      <button
        class="btn btn-danger rounded-circle"
        width="20px"
        (click)="changeInterval('+')"
      >
        +5
      </button>
      <input
        size="1"
        type="text"
        [(ngModel)]="refreshInterval"
        (change)="restart()"
      />
      <button
        class="btn btn-danger rounded-circle"
        width="20px"
        (click)="changeInterval('-')"
      >
        -5
      </button>
    </td>

    <td>Updated on : {{ lastUpdated }}</td>
    <td>
      Timer :
      <countdown-timer [start]="timer"></countdown-timer>
    </td>
  </tr>
</table>

<mat-progress-bar
  mode="determinate"
  value="{{ progressValue }}"
></mat-progress-bar>

<div class="accordion" id="accordionExample">
  <div class="portcard">
    <div class="port-card-header" id="headingOne">
      <div class="row">
        <div class="col-sm">
          <h5 class="mb-0">
            <button
              class="btn btn-outline-dark"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Manage Portfolio >>>
            </button>
          </h5>
        </div>
        <div class="col-sm 2">
          <span style="color: khaki;">
            Total Portfolio : {{ portfolioValue }} $</span
          >
        </div>
      </div>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <table *ngIf="portfolioData">
          <tr>
            <th class="portHeader">Coin</th>
            <th class="portHeader">Quantity</th>
            <th class="portHeader">Clear</th>
          </tr>
          <tr *ngFor="let data of portfolioData; let i = index">
            <td><input size="3" type="text" [(ngModel)]="data.RowKey" /></td>
            <td><input size="13" type="text" [(ngModel)]="data.quantity" /></td>
            <td>
              <button size="13" (click)="removeFromPortfolio(data.RowKey, i)">
                X
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <button
                class="btn btn-danger"
                width="50px"
                (click)="addToPortfolio()"
              >
                Add more
              </button>
            </td>

            <td>
              <button
                class="btn btn-danger"
                width="50px"
                (click)="updatePortfolio()"
              >
                Update
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <label class="volume">{{ message }}</label>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="card-data">
  <div class="card" *ngFor="let price of prices; let i = index">
    <div class="container" style="margin: 0px 0px;">
      <div class="row">
        <div class="col">
          <h4 style="color: rgb(219 236 68);">
            <b>{{ price.symbol }}</b>
          </h4>
        </div>
        <div class="col">
          <h4 class="price">
            <b> {{ price.prices.binacePrice }} </b>
          </h4>
        </div>
        <div class="col" align="right">
          <a class="close" (click)="removeCoin(price.symbol)">X</a>
        </div>
      </div>
      <div class="row" style="border:#757575 1px solid;">

      </div>
      <div class="row">
        <div class="col2" style="margin-left: 14px;">
          <span class="label"> 24 High : </span>
          <span class="HL"> {{price.prices.highPrice}}</span>
        </div>
        <div class="col">
          <span class="label"> 24 Low :</span>
          <span class="HL"> {{price.prices.lowPrice}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="label"> Change (24 HR) :</span>
          <label
            class="up"
            [ngClass]="{ down: price.prices.priceChangePercent < 0 }"
            >{{ price.prices.priceChangePercent }} %</label
          >
        </div>
      
      </div>
      <div class="row">
      
        <div class="col">
          <span class="label"> Trade :</span>
          <span class="trade">{{price.prices.bidPrice}} / {{price.prices.askPrice}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="timer"
>
  <p style="font-size: 20px; color: white;">Loading...</p>
</ngx-spinner>
