.label {
  color: rgb(154 151 136);
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
}

.up {
     color: rgb(40 255 56);
    /* background-color: #3d9c3100; */
    border: solid 1px #61e22c;
}

.price
{
  color: rgb(251, 255, 246);
  font-size: 22px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.down {
     color: rgb(247 237 237);
     background-color: #e6091e;
     border: solid 1px #a01717
}

.HL {
  color: rgb(255 255 255);
  font-size: 14px;
}
.trade {
  color: rgb(204 104 182);
  font-size: 14px;
}

.table1 td, th {
  border: .5px solid rgba(179, 206, 162, 0.938);
  padding: 5px;
}

.volume {
  color: rgba(173, 173, 173, 0.68);
  background-color: rgba(115, 122, 128, 0.2);
  font-size: 25px;
  font-weight: bold;
}

input[type=text] {
  height: 30px;
  width: 90px;
}

input[type="checkbox"] {
  width: 25px;
  /*Desired width*/
  height: 30px;
  /*Desired height*/
  cursor: pointer;
  margin-top: 6px;
  background-color: springgreen;
  color: brown;
}



.portHeader {
  background-color: rgb(73, 73, 73);
  color: white;
  font-weight: bolder;
}

.port-card-header {
  border: rgb(12 70 17) 1px solid
}

.port-card-header button {
  color: rgb(253, 253, 253);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(239, 243, 241, 0.2);
  transition: 0.3s;
  background-color: rgb(61 75 59 / 0.43);
  margin: 10px 0px 10px 10px;
  min-width: 43%;
  box-shadow: 0 5px 5px 0 rgba(251, 252, 250, 0.815);
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(133, 235, 0, 0.815);
}

/* Add some padding inside the card container */

.container {
  padding: 2px 16px;
}

.card-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.close {
  color: rgb(206, 4, 4);
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.large {
  font-size: 35px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.elarge {
  font-size: 55px;
  font-weight: bolder;
  color: rgb(88, 228, 46);
}

.tb {
  width: 10%;
  background-color: rgba(43, 42, 42, 0.74);
  color: #49ec18;
  font-weight: bolder;
  height: 20px;
  border: 1px solid rgb(23, 49, 23);
  padding: 4px 8px;
  margin-bottom: 0px;
}

.tbcoin {
  width: 15%;
  background-color: rgba(255, 255, 255, 0.74);
  height: 20px;
  border: 1px solid rgb(23, 49, 23);
  padding: 4px 8px;
  margin-bottom: 0px;
}


::ng-deep .mat-progress-bar-fill::after {
  background-color: #bac5b7f0;
}

::ng-deep .mat-progress-bar-buffer {
  background: #3b3d3f;
}

