<div class="filter">Last Updated => {{lastUpdated}}</div>
<table *ngIf='koinexData' class="table1">
    <tr>
        <td>
            <label class="label" data-toggle="modal" data-target="#myModal" (click)='opneAlertWindow("xrp");'>XRP</label>
        </td>

        <td colspan="70px"><label id="divRipple" class="high">{{koinexData.prices.inr.XRP}}</label></td>
        <td colspan="70px"><label id="divRipple1" class="high">
                <ng-container *ngFor="let price of binanceData">
                    <div *ngIf="price.symbol=='XRPUSDT'">{{price.price | formateNumber}}</div>
                </ng-container>
            </label></td>
    </tr>
    <tr>
        <td>
            <label class="label">GNT</label>
        </td>

        <td colspan="70px"><label id="divGNT" class="high">{{koinexData.prices.inr.GNT}}</label></td>
    </tr>
    <tr>
        <td>
            <label class="label">OMG</label>
        </td>

        <td colspan="70px"><label id="divOMG" class="high">{{koinexData.prices.inr.OMG}}</label></td>
    </tr>
    <tr>
        <td>
            <label class="label">NCash</label>
        </td>

        <td colspan="70px"><label class="high">{{koinexData.prices.inr.NCASH}}</label></td>
    </tr>
    <tr>
        <td>
            <label class="label">BTC</label>
        </td>

        <td colspan="70px"><label id="divBTC" class="high">{{koinexData.prices.inr.BTC}}</label></td>
    </tr>
    <tr>
        <td>
            <label class="label">0X</label>
        </td>

        <td colspan="70px"><label id="divZRX" class="high">{{koinexData.prices.inr.ZRX}}</label></td>
    </tr>


    <tr>
        <td>
            <label class="label">ETH</label>
        </td>

        <td colspan="70px"><label id="divETH" class="high">{{koinexData.prices.inr.ETH}}</label></td>
    </tr>

    <tr>
        <td>
            <label class="label">ADA</label>
        </td>

        <td colspan="70px"></td>
        <td colspan="70px"><label id="divADA" class="high">
                <ng-container *ngFor="let price of binanceData">
                    <div *ngIf="price.symbol=='ADAUSDT'">{{price.price | formateNumber}}</div>
                </ng-container>
            </label></td>
    </tr>
    <tr *ngIf='poloniexData'>
        <td>
            <label class="label">BCN</label>
        </td>

        <td colspan="70px"></td>
        <td colspan="70px"><label id="divBCN" class="high">{{poloniexData.BTC_BCN.last}}</label></td>
    </tr>
</table>
<br />
<div class="volume" style="float: left; ">
    Refresh Interval (in seconds)
    <button class="btn btn-danger" width="20px" (click)='changeInterval("+")'>+5</button>
    <input size="3" type='text' [(ngModel)]='refreshInterval' (change)='restart();' />
    <button class="btn btn-danger" width="20px" (click)='changeInterval("-")'>-5</button>
    <br />
    <!-- Coin
    <input type="text" type='text' [(ngModel)]='alertCoin' />
    &nbsp;Price&nbsp;<input type='text' [(ngModel)]='alertPrice' />


    <button class="btn btn-success" width="20px" (click)='setAlertData("low")'>Set Alert Low</button>
    <button class="btn btn-success" width="20px" (click)='setAlertData("high")'>Set Alert High</button>
    <button class="btn btn-success" width="20px" (click)='setAlertData("stop")'>Stop Alert</button>
    <br />
    <input type="radio" name="exchange" [value]='false' [(ngModel)]='isBinaceAlertSet'> Koinex
    <input type="radio" name="exchange" [value]='true' [(ngModel)]='isBinaceAlertSet'>Binance -->

</div>

<!-- Alert Modal Window -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Set Alert for - {{alertTrigger.coin}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row p-3 mb-2 bg-info text-white">
                        <div class="col">
                            <div class="checkbox">
                                <label class="volume"><input type="checkbox" value="false" [(ngModel)]='alertTrigger.isKonexChecked'>Koinex</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="checkbox">
                                <label class="volume"><input type="checkbox" value="true" [(ngModel)]='alertTrigger.isBinanceChecked'>Binance</label>
                            </div>
                        </div>
                    </div>
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                Higer
                            </td>
                            <td>
                                <input type='text' [(ngModel)]='alertTrigger.highPriceKoinex' />
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                Higer
                            </td>
                            <td>
                                <input type='text' [(ngModel)]='alertTrigger.highPriceBinance' />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Current
                            </td>
                            <td>
                                <strong>{{alertTrigger.currentPriceKoinex}}</strong>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                Current
                            </td>
                            <td>
                                <strong>{{alertTrigger.currentPriceBinance | formateNumber}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lower
                            </td>
                            <td>
                                <input type='text' [(ngModel)]='alertTrigger.lowPriceKoinex' />
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                Lower
                            </td>
                            <td>
                                <input type='text' [(ngModel)]='alertTrigger.lowPriceBinance' />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <button type="button" class="btn btn-danger" (click)='setPriceAlert("on")' data-dismiss="modal">Set Alert</button>
                                <button type="button" class="btn btn-danger" (click)='setPriceAlert("off")' data-dismiss="modal">Stop Alert</button>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>